body {
  margin: 0;
  font-family: 'Pretendard','Teko',sans-serif;
  background-color: #161616;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
